
:root {
    --header-color: #141E61;
    --font-color: #EEEEEE;
}

.title, .subtitle{
    font-family: 'Fugaz One', cursive;
    font-size: 3rem;
    color: var(--font-color);
}

.custom-color {
    background-color: var(--header-color);


.subtitle {
    font-family: 'Dosis', sans-serif;
    font-size: 1.75rem;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

.container {
    position: relative;
    text-align: center;
    color: white;
    font-family: fugaz one;
    font-size: 100px;
    }

.opacity {
    opacity: 0.7;
}

